<footer>
    <div class="connect">
        <p class="connect-item">Connect with us </p>
        <i class="fa-brands fa-facebook connect-item"></i>
        <i class="fa-brands fa-twitter connect-item"></i>
        <i class="fa-brands fa-instagram connect-item"></i>
        <i class="fa-brands fa-github connect-item"></i>
    </div>
    <div class="feedback">
        <a href="#">Feedback | </a>
        <a href="#"> Weather API | </a>
        <a href="#"> Privacy Policy</a>
    </div>
    <p style="text-align: center;">Powered by OpenWeatherMap API</p>
</footer>
</body>
</html>